

<div class="container">
    
    <h1>Contacto</h1>
    <hr>
    <div>
        <p>Estamos ubicados en José Ingenieros 1355, Villa María, Córdoba.</p>
        <p>Podes enviarnos tu consulta mediante Whatsapp o Mail.</p>
        <p>También podés visitar nuestras redes sociales.</p>
    </div>
    <hr>
          <div class="icons">
                <a href="https://www.instagram.com/chs_asadores" class="icon icon--instagram">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://www.facebook.com/Chs Asadores" class="icon icon--facebook">
                    <i class="ri-facebook-line"></i>
                </a>
                <a href="mailto:claudiochs85@gmail.com?
                Subject=Asadores%20Guillotina" class="icon icon--mail">
                    <i class="ri-mail-line"></i>
                </a>
                <a href="https://wa.me/543534203572?text=Hola%2C+quiero+hacer+una+consulta" class="icon icon--whatsapp">
                    <i class="ri-whatsapp-line"></i>
                </a>
            </div>
    </div>
     
