<div class="tz-gallery">
    <div class="row">

        <article class="card">
            <img src="\assets\Asad1.png" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Asador Guillotina</h2>
                <p class="card__description">Asador Guillotina con Cajones y Detalles en Acero Inoxidable</p>
                <a href="\assets\Asad1.png" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asad2.jpeg" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Asador Guillotina</h2>
                <p class="card__description">Asador Guillotina con Puertas y Detalles en Acero Inoxidable</p>
                <a href="\assets\asad2.jpeg" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asad3.jpeg" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Asador Guillotina</h2>
                <p class="card__description">Tapa de Asador Guillotina con Detalles en Acero Inoxidable</p>
                <a href="\assets\asad3.jpeg" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asad4.jpeg" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Bajo Asador y Alacena</h2>
                <p class="card__description">Bajo Asador y Alacena de hierro con Detalles en Acero Inoxidable</p>
                <a href="\assets\asad4.jpeg" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asad5.jpeg" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Bajo Asador</h2>
                <p class="card__description">Bajo Asador tipo Rústico con Puertas y Cajones</p>
                <a href="\assets\asad5.jpeg" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asad6.jpeg" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Asador Guillotina</h2>
                <p class="card__description">Asador Guillotina con Puertas Corredizas y Detalles en Acero Inoxidable</p>
                <a href="\assets\asad6.jpeg" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asad7.jpeg" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Asador Guillotina</h2>
                <p class="card__description">Asador Guillotina con Puertas y Detalles en Acero Inoxidable</p>
                <a href="\assets\asad7.jpeg" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asad8.jpeg" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Asador Guillotina</h2>
                <p class="card__description">Asador Guillotina con Cajones y Puertas y Detalles en Acero Inoxidable</p>
                <a href="\assets\asad8.jpeg" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\asadmo.png" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Asador Móvil</h2>
                <p class="card__description">Asador Móvil con Chapa Plegada</p>
                <a href="\assets\asadmo.png" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\Barra.png" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Barra Móvil</h2>
                <p class="card__description">Barra Móvil para Quincho</p>
                <a href="\assets\Barra.png" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\Herreria.png" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Herrería en General</h2>
                <p class="card__description">Todo Tipo de Herrería en General</p>
                <a href="\assets\Herreria.png" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\porton.png" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Portones Corredizos</h2>
                <p class="card__description">Portones Corredizos con Motor</p>
                <a href="\assets\porton.png" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\puerta.png" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Puertas Pivotantes</h2>
                <p class="card__description">Puertas Pivotantes Aisladas Térmica y Acústicamente</p>
                <a href="\assets\puerta.png" class="card__btn">Ver</a>
            </div>
        </article>
        <article class="card">
            <img src="\assets\techo.png" alt="" class="card__img">
            <div class="card__data">
                <h2 class="card__title">Techos Corredizos</h2>
                <p class="card__description">Techos de Chapa Corredizos</p>
                <a href="\assets\techo.png" class="card__btn">Ver</a>
            </div>
        </article>
    
    </div>
</div>


